<%- include("partials/header") %>
<div class="ui main text container segment" id="element">
	<div class="ui huge header" id="navbar"><%= blog.title%></div>
	<div class="ui top attached ">
		<div class="i centered rounded image">
			<img src= " <%= blog.image %>">
			<div class="content">
				<span><%= blog.created.toDateString()%> </span>
			</div>
			<div class="description">
				<p>
					<%- blog.body %>
				</p>
				
			</div>
		
			<form method="POST" action="/blogs/<%=blog._id %>?_method=DELETE">
				<a class="ui orange basic button" href="/blogs/<%=blog._id %>/edit">EDIT</a>
				<button class="ui red basic button">
					DELETE
				</button>
			</form>
		</div>
	</div>
			
		
	
</div>
	
		


<%- include("partials/footer") %>
